{{ define "email.subject" }}
监控告警: {{ range $index, $alert := .Alerts }}{{ $alert.Labels.alertname }}
{{ end }}
{{ end }}

{{ define "email.html" }}
{{ if gt (len .Alerts.Firing) 0 }}
{{ range $index, $alert := .Alerts }}
========监控告警==========<br>
告警类型: {{ $alert.Labels.alertname }}<br>
告警级别: {{ $alert.Labels.severity }}<br>
{{ if gt (len $alert.Labels.instance) 0 }}
故障信息: {{ $alert.Labels.instance }}<br>
{{ end }}
故障阈值: {{ $alert.Annotations.summary }}<br>
故障描述: {{ $alert.Annotations.description }}<br>
触发时间: {{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
{{ range $index, $alert := .Alerts }}
========告警恢复==========<br>
告警类型: {{ $alert.Labels.alertname }}<br>
告警级别: {{ $alert.Labels.severity }}<br>
{{ if gt (len $alert.Labels.instance) 0 }}
故障信息: {{ $alert.Labels.instance }}<br>
{{ end }}
故障阈值: {{ $alert.Annotations.summary }}<br>
触发时间: {{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
恢复时间: {{ ($alert.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}<br>
{{ end }}
{{ end }}
{{ end }}